# Posttest 4

Sefelin Nada Para'pak <br>
2009106074

### Import Package

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

### Read Dataset

In [45]:
df = pd.read_csv("netflix.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"Jo�o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demi�n Bichir, H�ctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011.0,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009.0,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,01-Jan-20,2008.0,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7994,s7995,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,25-Sep-20,2002.0,TV-MA,298 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...
7995,s7996,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,26-Sep-20,2003.0,TV-MA,299 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...
7996,s7997,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,27-Sep-20,2004.0,TV-MA,300 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...
7997,s7998,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,28-Sep-20,2005.0,TV-MA,301 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...
7998,s7999,Movie,Yunus Emre,Shlok Sharma,Nasty C,Iceland,29-Sep-20,2006.0,TV-MA,302 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7999 non-null   object
 1   type          7999 non-null   object
 2   title         7999 non-null   object
 3   director      5585 non-null   object
 4   cast          7282 non-null   object
 5   country       7488 non-null   object
 6   date_added    7989 non-null   object
 7   release_year  7969 non-null   float64
 8   rating        7992 non-null   object
 9   duration      7999 non-null   object
 10  listed_in     7999 non-null   object
 11  description   7999 non-null   object
dtypes: float64(1), object(11)
memory usage: 750.0+ KB

In [47]:
df.shape

(7999, 12)

##  Data Split

In [48]:

X = df.iloc[:,:-1] #mengambil semua elemen dataset tanpa terkecuali -1
y = df.iloc[:,-1]

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [50]:
print("dimensi X_train : ",X_train.shape)
print("dimensi X_test : ",X_test.shape)
print("dimensi y_train : ",y_train.shape)
print("dimensi y_test : ",y_test.shape)

dimensi X_train :  (5599, 11)
dimensi X_test :  (2400, 11)
dimensi y_train :  (5599,)
dimensi y_test :  (2400,)

##  Data Cleaning

Menangani Nilai Null

In [51]:
# Mengecek data null
df.isna().sum()

show_id            0
type               0
title              0
director        2414
cast             717
country          511
date_added        10
release_year      30
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [52]:
imputer_string = SimpleImputer(strategy="most_frequent") #modus

In [53]:
df['director'] = imputer_string.fit_transform(df[["director"]])
df['cast'] = imputer_string.fit_transform(df[["cast"]])
df['country'] = imputer_string.fit_transform(df[["country"]])
df['date_added'] = imputer_string.fit_transform(df[["date_added"]])
df['release_year'] = imputer_string.fit_transform(df[["release_year"]])
df['rating'] = imputer_string.fit_transform(df[["rating"]])

In [54]:
imputer_float = SimpleImputer(strategy="mean")

In [55]:
df['release_year'] = imputer_float.fit_transform(df[["release_year"]])

In [56]:
df.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

## Memperbaiki Record Duplicate

In [57]:
#tambah 20 record dari tail
df = df.append(df.iloc[0:20])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_508\1451225477.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0:20])

In [58]:
df.shape

(8019, 12)

In [59]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
15,s16,Movie,01-Oct,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,01-Sep-19,2014.0,TV-14,149 min,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...
16,s17,TV Show,09-Feb,Shlok Sharma,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",United States,20-Mar-19,2018.0,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."
17,s18,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon �igarden, Jonas Stra...","Norway, Iceland, United States",10-Oct-18,2018.0,R,144 min,"Dramas, Thrillers","After devastating terror attacks in Norway, a ..."
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,29-Mar-19,2019.0,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
19,s20,Movie,'89,Shlok Sharma,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,16-May-18,2017.0,TV-PG,87 min,Sports Movies,"Mixing old footage with interviews, this is th..."

In [60]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
15     True
16     True
17     True
18     True
19     True
Length: 8019, dtype: bool

In [61]:
df.duplicated().sum()

20

In [62]:
df[df.duplicated()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Shlok Sharma,"Jo�o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020.0,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demi�n Bichir, H�ctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016.0,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011.0,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009.0,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,01-Jan-20,2008.0,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Besik�ioglu, Yasemin Allen, Melis Birkan...",Turkey,01-Jul-17,2016.0,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,01-Jun-20,2019.0,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,01-Nov-19,1997.0,R,119 min,Dramas,After one of his high school students attacks ...
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,01-Apr-19,2019.0,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008.0,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
10,s11,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,20-Oct-17,2017.0,TV-MA,103 min,"Dramas, Thrillers",A farmer pens a confession admitting to his wi...
11,s12,TV Show,1983,Shlok Sharma,"Robert Wieckiewicz, Maciej Musial, Michalina O...","Poland, United States",30-Nov-18,2018.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a na�ve law..."
12,s13,TV Show,1994,Diego Enrique Osorno,Nasty C,Mexico,17-May-19,2019.0,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
13,s14,Movie,"2,215",Nottapon Boonprakob,Artiwara Kongmalai,Thailand,01-Mar-19,2018.0,TV-MA,89 min,"Documentaries, International Movies, Sports Mo...",This intimate documentary follows rock star Ar...
14,s15,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,19-Mar-20,2019.0,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...
15,s16,Movie,01-Oct,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,01-Sep-19,2014.0,TV-14,149 min,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...
16,s17,TV Show,09-Feb,Shlok Sharma,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",United States,20-Mar-19,2018.0,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."
17,s18,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon �igarden, Jonas Stra...","Norway, Iceland, United States",10-Oct-18,2018.0,R,144 min,"Dramas, Thrillers","After devastating terror attacks in Norway, a ..."
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,29-Mar-19,2019.0,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
19,s20,Movie,'89,Shlok Sharma,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,16-May-18,2017.0,TV-PG,87 min,Sports Movies,"Mixing old footage with interviews, this is th..."

In [63]:
df.drop_duplicates(inplace=True)

In [64]:
df.duplicated().sum()

0

# Merubah Tipe Data

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7999 entries, 0 to 7998
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7999 non-null   object
 1   type          7999 non-null   object
 2   title         7999 non-null   object
 3   director      7999 non-null   object
 4   cast          7999 non-null   object
 5   country       7999 non-null   object
 6   date_added    7999 non-null   object
 7   release_year  7999 non-null   float64
 8   rating        7999 non-null   object
 9   duration      7999 non-null   object
 10  listed_in     7999 non-null   object
 11  description   7999 non-null   object
dtypes: float64(1), object(11)
memory usage: 812.4+ KB

In [66]:
df['release_year'] = df['release_year'].astype(int)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7999 entries, 0 to 7998
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7999 non-null   object
 1   type          7999 non-null   object
 2   title         7999 non-null   object
 3   director      7999 non-null   object
 4   cast          7999 non-null   object
 5   country       7999 non-null   object
 6   date_added    7999 non-null   object
 7   release_year  7999 non-null   int32
 8   rating        7999 non-null   object
 9   duration      7999 non-null   object
 10  listed_in     7999 non-null   object
 11  description   7999 non-null   object
dtypes: int32(1), object(11)
memory usage: 781.2+ KB

## Data Transformasi

Normalisasi

In [68]:
min_max_scaler = MinMaxScaler()

In [69]:
x_scaled = min_max_scaler.fit_transform(df[['release_year']])

In [70]:
data_normalization = pd.DataFrame(x_scaled)

In [71]:
data_normalization.head()

          0
0  0.989796
1  0.948980
2  0.897959
3  0.877551
4  0.867347

Standarisasi

In [72]:
print("Nilai sebelum standarisasi")
print("Stadar Deviasi: ")
np.std(df)

Nilai sebelum standarisasi
Stadar Deviasi:

c:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

release_year    10.365043
dtype: float64

In [73]:
ss = StandardScaler()

In [74]:
x_skala = ss.fit_transform(df[['release_year']])

In [75]:
print("Nilai setelah standarisasi")
print("Stadar Deviasi : ")
np.std(x_skala)

Nilai setelah standarisasi
Stadar Deviasi :

1.0

In [76]:
data_standarisasi = pd.DataFrame(x_skala)

In [77]:
data_standarisasi.head(5)

          0
0  0.641431
1  0.255518
2 -0.226873
3 -0.419829
4 -0.516307

# One Hot Encoding

In [78]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,Shlok Sharma,"Jo�o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demi�n Bichir, H�ctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,01-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [79]:
encoder = OneHotEncoder(sparse=False)
area = encoder.fit_transform(df[["type"]])

areas = pd.DataFrame(area)
df = df.join(areas)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,0,1
0,s1,TV Show,3%,Shlok Sharma,"Jo�o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0.0,1.0
1,s2,Movie,7:19,Jorge Michel Grau,"Demi�n Bichir, H�ctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1.0,0.0
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",1.0,0.0
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",1.0,0.0
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,01-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,1.0,0.0

In [80]:
df = df.rename(columns={
    0 : 'Movie',
    1 : 'TV Show'
})

df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Movie,TV Show
0,s1,TV Show,3%,Shlok Sharma,"Jo�o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0.0,1.0
1,s2,Movie,7:19,Jorge Michel Grau,"Demi�n Bichir, H�ctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1.0,0.0
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",1.0,0.0
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",1.0,0.0
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,01-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,1.0,0.0