# Posttest 2 Nada
2009106074

### Import Pandas Package

In [14]:
import pandas as pd

### Read Dataset

In [15]:
df = pd.read_csv("Pizza_hut_locations.csv")

In [16]:
df

,type,address_1,address_2,open_hours,city,state,postal_code,latitude,longitude
0,Pizza Hut Express,1200 N. Muldoon Road,NaN,10:00 AM - 11:00 PM,Anchorage,AK,99504,61.2037,-149.7447
1,Pizza Hut Express,150 West 100th Ave,Suite A,10:00 AM - 11:00 PM,Anchorage,AK,99515,61.1194,-149.8974
2,Pizza Hut,2220 Abbott Rd,NaN,10:00 AM - 11:00 PM,Anchorage,AK,99507,61.1535,-149.8289
3,Pizza Hut,341 Boniface Pkwy,Unit G,10:00 AM - 12:00 AM,Anchorage,AK,99504,61.2037,-149.7447
4,Pizza Hut,3727 Spenard Highway,NaN,10:00 AM - 12:00 AM,Anchorage,AK,99517,61.1901,-149.9361
...,...,...,...,...,...,...,...,...,...
1996,Pizza Hut,8849 S Stony Island Ave,NaN,10:00 AM - 11:00 PM,Chicago,IL,60617,41.7257,-87.5560
1997,Pizza Hut,420 N 4th Street,Suite F,10:00 AM - 11:00 PM,Chillicothe,IL,61523,40.9013,-89.5068
1998,Pizza Hut Express,2901 South Cicero Avenue,NaN,NaN,Cicero,IL,60804,41.8378,-87.7602
1999,Pizza Hut,5020 W Cermak Rd,NaN,11:00 AM - 11:00 PM,Cicero,IL,60804,41.8378,-87.7602
2000,Pizza Hut,608 N Bluff Rd,NaN,10:30 AM - 11:00 PM,Collinsville,IL,62234,38.6835,-89.9853

1. Informasi yang didapatkan adalah<br>1. Jumlah record<br>2. Nama atribut<br>3. Jumlah atribut dengan tipe objek<br>4. Jumlah atribut dengan tipe angka<br>5. Jumlah atribut yang memiliki nilai null.<br><br>Masukkan informasi di atas dalam dictionary dengan key<br>sesuai nama informasinya. Tampilkan isi dari dictionary<br>tersebut sebagus mungkin

In [17]:
jumlahRecord = len(df)
namaAtribut = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64', 'float64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dictionary = {
    "Jumlah Record": jumlahRecord,
    "Nama Atribut": namaAtribut,
    "Jumlah Atribut dengan Tipe Objek": jumlahObjek,
    "Jumlah Atribut dengan Tipe Angka": jumlahAngka,
    "Jumlah Atribut dengan Nilai NULL": jumlahNULL,
}

pd.Series(dictionary)

Jumlah Record                                                                    2001
Nama Atribut                        Index(['type', 'address_1', 'address_2', 'open...
Jumlah Atribut dengan Tipe Objek                                                    6
Jumlah Atribut dengan Tipe Angka                                                    3
Jumlah Atribut dengan Nilai NULL                                                    4
dtype: object

2. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai<br>maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

Tampilkan Nilai rata-rata

In [18]:
df.select_dtypes(include=['int64', 'float64']).mean()

postal_code    62117.436782
latitude          33.760767
longitude       -100.102487
dtype: float64

Tampilkan Nilai Standar devisiasi

In [19]:
df.select_dtypes(include=['int64', 'float64']).std()

postal_code    27506.951350
latitude           5.042706
longitude         17.971120
dtype: float64

Tampilkan Nilai Minimum

In [20]:
df.select_dtypes(include=['int64', 'float64']).min()

postal_code    6037.0000
latitude         19.5089
longitude      -159.3683
dtype: float64

Tampilkan Nilai Maksimum

In [21]:
df.select_dtypes(include=['int64', 'float64']).max()

postal_code    99705.0000
latitude          64.8378
longitude        -75.4955
dtype: float64

Tampilkan Nilai Q1, Q2, dan Q3

In [22]:
df.select_dtypes(include=['int64', 'float64']).quantile([0.25,0.5,0.75])

      postal_code  latitude   longitude
0.25      33155.0  30.72595 -117.437800
0.50      71854.0  33.82630  -93.422450
0.75      90807.0  35.60745  -83.724025

3. Tampilkan nilai korelasi attribute bertipe angka.

In [23]:
df.select_dtypes(include=['int64', 'float64']).corr()

             postal_code  latitude  longitude
postal_code     1.000000  0.392117  -0.924682
latitude        0.392117  1.000000  -0.275440
longitude      -0.924682 -0.275440   1.000000

4. Rubah nilai salah satu attribute bertipe angka dari desimal menjadi bilangan bulat).

Dataset types

In [24]:
df.dtypes

type            object
address_1       object
address_2       object
open_hours      object
city            object
state           object
postal_code      int64
latitude       float64
longitude      float64
dtype: object

In [25]:
df["postal_code"] = df["postal_code"].astype("float64")
df.dtypes

type            object
address_1       object
address_2       object
open_hours      object
city            object
state           object
postal_code    float64
latitude       float64
longitude      float64
dtype: object

5. Tampilkan 10 record pertama dari attribute bertipe angka.

In [26]:
df.select_dtypes(include=['int64', 'float64']).head(10)

   postal_code  latitude  longitude
0      99504.0   61.2037  -149.7447
1      99515.0   61.1194  -149.8974
2      99507.0   61.1535  -149.8289
3      99504.0   61.2037  -149.7447
4      99517.0   61.1901  -149.9361
5      99577.0   61.3114  -149.5085
6      99701.0   64.8378  -147.7164
7      99705.0   64.7805  -147.3694
8      99669.0   60.4818  -151.1358
9      99654.0   61.5923  -149.3959

6. Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [27]:
df.select_dtypes(include=['int64', 'float64']).to_csv("Pizza_hut_locations-angka.csv", index=False)